// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #1D5EDB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #000000;
$light-gray: #F4F4F4;
$white: white;
$dimgray: rgb(105,105,105);


// forms:
$blue-login: rgba(38, 102, 207, 1);

// cards:
$dim_border_color: rgba(216, 215, 215, 0.096);



// old: rgba(253, 253, 253, 0.096)
