.gm-form{

  max-width: 700px;
  height: 750px;
  background-color: rgba(216, 215, 215, 0.096);
  border: 1px solid $white;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 50px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.gm_image{
  width: 270px;

  margin-top: 30px;

  border-radius: 15px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.h1_gm {
  padding: 20px;
  color: $white;
}


.form-label {
  color: $white;
}

.logo_new {
filter: invert(1);
}

.text_form {
  color: $white;
}
