.gm-form{
  background-color: rgb(255, 255, 255);
  padding: 50px;
  box-shadow: 10px 10px 5px gray;
  height: 700px;
}

.gm_image{
  position: absolute;
  left: 200px;
  width: 250px;
  height: 250px;
  top: 150px;
  opacity: 0.9;
}

.h1_gm{
  color:dimgray;
  display: flex;
  justify-content: center;
}
