// Specific CSS for your home-page


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


// HERO ---------------->

.hero-container {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
margin: 185px 150px;
}

h1 {
font-size: 48px;
}

p {
  font-size: 16px;
}


.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 32px 0px 0px;
  position: static;
  width: 672px;
  height: 500px;
  left: 32px;
  top: 32px;
}



.hero-img img {
  margin-left: 50px;
  height: 450px;
  left: 736px;
  top: 32px;
}
