._user-sign-form{
  background-color: $white;
  padding: 0px 50px;
  box-shadow: 10px 10px 5px $dimgray;
  max-width: 700px;
  height: 700px;
}


.h1_user{
  color: $dimgray;
  //display: flex;
 // justify-content: center;
  font-family: $headers-font;
  padding: 50px !important;
}

.user-sign-form{
  background-color: $dim_border_color;
  width: 500px;
  border: 1px solid #B4B4B4;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;

  a {
    color: white;
  }

  label {
    color: white;
  }
}


.logo_new {
  filter: invert(1);
  margin-bottom: 20px;
}
