<%# <div class="navbar navbar-row navbar-light navbar-lewagon fixed-bottom">
  <div class="col-12">
      <div id="logo_footer">
      <div class="imggg">
        <%= image_tag ""  %>
        <%# </div>
      </div>
  </div>
</div> %>
