<div class="hero-container">
  <div class="hero-text-container">
      <h1>FIND A GRANDSMASTER</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, et placeattempora nam, eveniet ex explicabo delectus, ratione deleniti repellat excepturi provident! Repellat adipisci in nemo atque dolorem eius voluptatem perspiciatis excepturi! In nihil iusto consectetur veritatis porro dolores cumque vitae nulla autem sequi!</p>
      <%= link_to "Check our Grandmasters", grandmasters_path, class: "hero-btn" %>
    </div>


      <div class="hero-img">
    <%= image_tag "components/home_img.jpg"  %>
  </div>
</div>
