

<%# <div class="cards">
  <div class="card-grandmaster" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-grandmaster" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-grandmaster" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div> %>


<div class="hero-container">
  <div class="hero-text-container">

    <h1>GRANDMASTERSSSSS</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, et placeat. Molestiae, modi maxime qui quidem cumque tempora nam, eveniet ex explicabo delectus, ratione deleniti repellat excepturi provident! Repellat adipisci in nemo atque dolorem eius voluptatem perspiciatis excepturi! In nihil iusto consectetur veritatis porro dolores cumque vitae nulla autem sequi!</p>

  </div>
  <div class="hero-img">
  <img src="https://www.neoteo.com/wp-content/uploads/2013/07/107DC.jpg" alt="">
  </div>


</div>
