<div class="container home-container">
  <div class="test">
    <div class="row align-items-stretch h-100">
      <div class="col-md-6 col-sm-8 offset-md-1">
        <div class="hero-text-container">
          <h1>FIND A GRANDMASTER</h1>
            <p class="info-home-gm">You will have the oppertunity of you life to meet world famous Chess Grandmasters. We have had clients such as Magnus Carlson, Lali B and millions of satisfied customers
                <br> <i>- CEO Loranzini Totolini"</i></p>
            <%= link_to "Check our Grandmasters", grandmasters_path, class: "hero-btn text-decoration-none"%>
        </div>
      </div>
        <div class="col-sm-4 d-flex h-100 align-items-center">
              <%= image_tag "components/home_img_2.jpg" , class: "home-image" %>
        </div>
    </div>
  </div>
</div>
