<<<<<<< HEAD
.card {
 width: 405.33px;
 height: 336px;
 border-radius: 16px;
 border: 1px solid $gray;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
padding: 24px;
}

.card .avatar {
  position: static;
  width: 100px;
  height: 100px;
  left: 152.67px;
  top: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}

.card-body h5, p {
  color: $gray
}
=======
// .card-grandmaster {
//   background-size: cover;
//   background-position: center;
//   height: 180px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   font-size: 24px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// } ####Mathias
>>>>>>> fd7c8ec47e4b39ddf428c342f6101feaa1f1600d
