.gm-show-card {
    border-radius: 16px;
    border: 1px solid $white;
    background-color: $dim_border_color;
    padding: 60px;
    color: $white;
   display: flex;

   .img-container {
     flex-basis: 30%;

   }
}

.gm-info-list {
  list-style : none;
}

.gm-info-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-me-container {
  text-align: center;
}

.photo-chess {
  width: 300px;
  max-height: 300px;
  border-radius: 15px;
  display: flex;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
  justify-content: space-around;
  object-fit: cover;
  flex-shrink: 0;
}

.avatar {
  object-fit: cover;
}
