.navbar {
  justify-content: space-between;
  padding: 0px;
}

.container-fluid {
  background-color: $dim_border_color;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

#logo {
  width: 188px;
  height: 48px;
  object-fit: cover;
  filter: invert(1);
}

.nav-link {
color: white;

}

.search{
  border-radius: 10px;
  background-color: $dim_border_color;
  color: $dim_border_color;
  border-color: $dim_border_color;
  width: 350px;
  color: $white;
}

.search-button{
  height: 30px;
  width: 50px;
  border-radius: 10px;
  color: $white;
  background-color: $dim_border_color;
  border-color: $dim_border_color;

}

.search-button:hover{
  color: $dim_border_color;
  background-color: $white;
}
