
<h1 class="text-center">Our Grandmasters</h1>
<div class="container">
  <div class="row mt-4">
    <% @grandmasters.each do |grandmaster|%>
      <div class="col-sm-12 col-md-4 col-lg-4 py-3">
        <%= link_to grandmaster_path(grandmaster), class: "text-decoration-none" do %>
            <div class="card">
              <% if grandmaster.user.photo.attached? %>
                <%= cl_image_tag grandmaster.user.photo.key, class: "card-image-middle avatar" %>
              <% else %>
                <img class="card-image-middle avatar" src="https://thezugzwangblog.com/wp-content/uploads/2020/07/kasparaov-1024x574.jpg" alt="Card">
              <% end %>
              <div class="card-body text-center">
                <h5 class="card-title"><%= grandmaster.user.name %></h5>
                <p class="card-text"><%= grandmaster.bio %></p>
              </div>
            </div>
        <% end %>
        </div>
    <% end %>
  </div>
</div>
